@charset "UTF-8";
/*                                              */
/* Requires:                                    */
/*  -globals.css                                */
/*  -app.js                                     */
/*                                              */
/* Tabs ---------------------- */
dl.tabs { border-bottom: solid 1px #e6e6e6; display: block; height: 40px; padding: 0; margin-bottom: 20px; }
dl.tabs.contained { margin-bottom: 0; }
dl.tabs dt { color: #b3b3b3; cursor: default; display: block; float: left; font-size: 12px; height: 40px; line-height: 40px; padding: 0 9px 0 20px; width: auto; text-transform: uppercase; }
dl.tabs dt:first-child { padding: 0 9px 0 0; }
dl.tabs dd { display: block; float: left; padding: 0; margin: 0; }
dl.tabs dd a { color: #6f6f6f; display: block; font-size: 14px; height: 40px; line-height: 40px; padding: 0px 23.8px; }
dl.tabs dd.active { border-top: 3px solid #0593dc; margin-top: -3px; }
dl.tabs dd.active a { color: #3c3c3c; background: #fff; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; font-weight: bold; }
dl.tabs dd:first-child { margin-left: 0; }
dl.tabs.vertical { height: auto; border-bottom: 1px solid #e6e6e6; }
dl.tabs.vertical dt, dl.tabs.vertical dd { float: none; height: auto; }
dl.tabs.vertical dd { border-left: 3px solid #cccccc; }
dl.tabs.vertical dd a { background: #f2f2f2; border: none; border: 1px solid #e6e6e6; border-width: 1px 1px 0 0; color: #555; display: block; font-size: 14px; height: auto; line-height: 1; padding: 15px 20px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset; }
dl.tabs.vertical dd a.active { background: #4d4d4d; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
dl.tabs.vertical dd.active { border-top: none; border-left: 4px solid #1a1a1a; }
dl.tabs.vertical dd:first-child a.active { margin: 0; }
dl.tabs.two-up dt a, dl.tabs.two-up dd a, dl.tabs.three-up dt a, dl.tabs.three-up dd a, dl.tabs.four-up dt a, dl.tabs.four-up dd a, dl.tabs.five-up dt a, dl.tabs.five-up dd a { padding: 0px 17px; text-align: center; overflow: hidden; }
dl.tabs.two-up dt, dl.tabs.two-up dd { width: 50%; }
dl.tabs.three-up dt, dl.tabs.three-up dd { width: 33.33%; }
dl.tabs.four-up dt, dl.tabs.four-up dd { width: 25%; }
dl.tabs.five-up dt, dl.tabs.five-up dd { width: 20%; }

ul.tabs-content { display: block; margin: 0 0 20px; padding: 0; }
ul.tabs-content > li { display: none; }
ul.tabs-content > li.active { display: block; }
ul.tabs-content.contained { padding: 0; }
ul.tabs-content.contained > li { border: solid 0 #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px; }
ul.tabs-content.contained.vertical > li { border-width: 1px 1px 1px 1px; }

.no-js ul.tabs-content > li { display: block; }
