@charset "UTF-8";
/* Foundation 3, artfully masterminded by ZURB Core ui.css
 Requires: globals.css
*/
/* Table of Contents

:: Alerts
:: Labels
:: Tabs
:: Pagination
:: Breadcrumbs
:: Lists
:: Panels
:: Nav
:: Video
:: Microformats

*/
/* Alerts */
div.alert-box { display: block; padding: 6px 7px; font-weight: bold; font-size: 13px; font-size: 1.3rem; background: #eee; border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255, 255, 255, 0.9); position: relative; }
div.alert-box.success { background-color: #5b8737; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box.alert { background-color: #e91c21; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box.secondary { background-color: #e9e9e9; color: #1d1d1d; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box a.close { color: #000; position: absolute; right: 4px; top: 0; font-size: 18px; font-size: 1.8rem; opacity: 0.2; padding: 4px; }
div.alert-box a.close:hover, div.alert-box a.close:focus { opacity: 0.4; }

/* Labels */
.label { padding: 0 4px 2px; font-size: 11px; font-size: 1.1rem; font-weight: bold; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline; position: relative; bottom: 1px; color: #fff; background: #0593dc; }
.label.radius { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.label.round { padding: 1px 7px 2px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; }
.label.primary { background-color: #0593dc; }
.label.alert { background-color: #e91c21; }
.label.success { background-color: #5b8737; }
.label.secondary { background-color: #e9e9e9; color: #333; }

/* Pagination */
ul.pagination { display: block; height: 24px; margin-left: -5px; }
ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 15px; font-size: 1.5rem; margin-left: 5px; }
ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; }
ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px #0593dc; color: #141414; }
ul.pagination li.unavailable a { cursor: default; color: #999; }
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { border-bottom: none; }

/* Breadcrumbs */
ul.breadcrumbs { display: block; background: #f6f6f6; padding: 7px 10px; border: 1px solid #e9e9e9; border-radius: 2px; overflow: hidden; }
ul.breadcrumbs li { margin: 0; padding: 0 12px 0 0; float: left; list-style: none; }
ul.breadcrumbs li a, ul.breadcrumbs li span { text-transform: uppercase; font-size: 11px; font-size: 1.1rem; padding-left: 12px; }
ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span { padding-left: 0; }
ul.breadcrumbs li:before { content: "/"; color: #aaa; }
ul.breadcrumbs li:first-child:before { content: " "; }
ul.breadcrumbs li.current a { cursor: default; color: #333; }
ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus { text-decoration: underline; }
ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus { text-decoration: none; }
ul.breadcrumbs li.unavailable a { color: #999; }
ul.breadcrumbs li.unavailable:hover a, ul.breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }

/* Lists */
ul.nice, ol.nice { list-style: none; margin: 0; }
ul.nice li, ol.nice li { padding-left: 13px; position: relative; }
ul.nice li span.bullet, ul.nice li span.number, ol.nice li span.bullet, ol.nice li span.number { position: absolute; left: 0; top: 0; color: #ccc; }

/* Panels */
div.panel { padding: 20px 20px 2px 20px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4)), #eeeeee; background: -webkit-linear-gradient(#ffffff, #f4f4f4), #eeeeee; background: -moz-linear-gradient(#ffffff, #f4f4f4), #eeeeee; background: -o-linear-gradient(#ffffff, #f4f4f4), #eeeeee; background: -ms-linear-gradient(#ffffff, #f4f4f4), #eeeeee; background: linear-gradient(#ffffff, #f4f4f4), #eeeeee; -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px; box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px; margin: 0 0 20px 0; }

/* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na */
dl.sub-nav { display: block; width: auto; overflow: hidden; margin: -4px 0 18px -9px; padding-top: 4px; }
dl.sub-nav dt, dl.sub-nav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 4px; }
dl.sub-nav dt { color: #999; font-weight: normal; }
dl.sub-nav dd a { text-decoration: none; border-radius: 12px; }
dl.sub-nav dd.active a { background: #0593dc; color: #fff; padding: 3px 9px; }

/* Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ */
.flex-video { position: relative; padding-top: 25px; padding-bottom: 67.5%; height: 0; margin-bottom: 16px; overflow: hidden; }
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
.flex-video iframe, .flex-video object, .flex-video embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Microformats */
ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px; }
ul.vcard li { margin: 0; display: block; }
ul.vcard li.fn { font-weight: bold; font-size: 15px; font-size: 1.5rem; }

p.vevent span.summary { font-weight: bold; }
p.vevent abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }

/* Tooltips */
.has-tip { border-bottom: dotted 1px #ccc; cursor: help; font-weight: bold; color: #333; }
.has-tip:hover { border-bottom: dotted 1px #0593dc; color: #0192dd; }
.has-tip.tip-left, .has-tip.tip-right { float: none !important; }

.tooltip { display: none; background: black; background: rgba(0, 0, 0, 0.8); position: absolute; color: #fff; font-weight: bold; font-size: 12px; font-size: 1.2rem; padding: 5px; z-index: 999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; line-height: normal; }
.tooltip > .nub { display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent black transparent; border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent; position: absolute; top: -10px; left: 10px; }
.tooltip.tip-override > .nub { border-color: transparent transparent black transparent !important; border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent !important; top: -10px !important; }
.tooltip.tip-top > .nub { border-color: black transparent transparent transparent; border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent; top: auto; bottom: -10px; }
.tooltip.tip-left, .tooltip.tip-right { float: none !important; }
.tooltip.tip-left > .nub { border-color: transparent transparent transparent black; border-color: transparent transparent transparent rgba(0, 0, 0, 0.8); right: -10px; left: auto; }
.tooltip.tip-right > .nub { border-color: transparent black transparent transparent; border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent; right: auto; left: -10px; }
.tooltip.noradius { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.tooltip.opened { color: #0192DD !important; border-bottom: dotted 1px #0593DC !important; }

.tap-to-close { display: block; font-size: 10px; font-size: 1rem; color: #888; font-weight: normal; }
